<div class="card" [style.border-left-color]="data?.fulfilled.color">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img [src]="data?.iconPath" [alt]="data?.name">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-6">{{data?.name}}</p>
      </div>
    </div>
    <hr class="card-divider">
    <div class="content">
      <span class="consumption-need">{{data?.consumption}} <span class="consumption-unit">t/min</span></span>
      <span class="buildings-need">{{data?.buildingsNeed}}</span>
    </div>
  </div>
</div>
