<div class="columns">
  <div class="column is-one-quarter">
    <app-side-menu (workforceUpdate)="calculate($event)"></app-side-menu>
  </div>
  <div class="column is-three-quarters">
    <div class="consumptions">
      <ng-container *ngIf="consumptionData.length > 0; else emptyGoods">
        <app-goods *ngFor="let dataSet of consumptionData" [data]="dataSet"></app-goods>
      </ng-container>
      <ng-template #emptyGoods>
        No Goods needed
      </ng-template>
    </div>
  </div>
</div>

